<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>Archives | ElliotQuotes</title>
        <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body> 
        <div id="header">
            <h1><a href="/">quotes from Jim Elliot <span id="d">(1927 &#8211; 1956)</span></a></h1> &nbsp; / &nbsp; <h2>Archives</h2>
        </div>
        <div id="content">
            <table>
                $content
            </table>
        </div>
        <div id="footer">
            <p><a href="https://twitter.com/elliotquotes">ElliotQuotes</a> is by <a href="https://twitter.com/fifthposition">fifthposition</a> | quotes here are from <a href="http://www.amazon.com/dp/006062213X/"><i>Shadow Of The Almighty</i></a> and <a href="http://www.amazon.com/dp/0800758250/"><i>The Journals Of Jim Elliot</i></a> | <a href="https://github.com/fifthposition/elliotquotes">site source</a></p>
        </div>
        <!-- StatCounter -->
        <script type="text/javascript">
            var sc_project=9105746; 
            var sc_invisible=1; 
            var sc_security="f1593780"; 
            var scJsHost = (("https:" == document.location.protocol) ?
            "https://secure." : "http://www.");
            document.write("<sc"+"ript type='text/javascript' src='" +
            scJsHost+
            "statcounter.com/counter/counter.js'></"+"script>");
        </script>
        <noscript><div class="statcounter"><a title="click tracking"
                    href="http://statcounter.com/" target="_blank"><img
                    class="statcounter"
                    src="http://c.statcounter.com/9105746/0/f1593780/1/"
                    alt="click tracking"></a></div></noscript>
        <!-- End StatCounter -->
    </body>
</html>
