<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>ElliotQuotes</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body> 
        <div id="wrapper">
            <div id="header">
                <h1><a href="/">quotes from Jim Elliot (1927 &#8211; 1956)</a></h1>
            </div>
            <div id="content">
                <p class="date_written"><a href="/$postName/">$postDateWritten &#187;</a></p>
                $postContent
                <br />
                <a href="/archives/">&#171; more</a>
            </div>
            <div id="footer">
                <p><a href="https://twitter.com/elliotquotes">ElliotQuotes</a> is a thing by <a href="https://twitter.com/fifthposition" class="fifth">fifthposition</a> | <a href="http://www.amazon.com/dp/006062213X/">get <i>Shadow Of The Almighty</i></a> | <a href="http://www.amazon.com/dp/0800758250/">get <i>The Journals Of Jim Elliot</i></a></p>
            </div>
        </div>
    </body> 
</html>
